<div class="container">
  <div class="survey">
    {{#each questions}}
      <div class="form-group">
        <label>{{question}}</label>
        <select class="form-control">
          <option>{{answer1}}</option>
          <option>{{answer2}}</option>
          <option>{{answer3}}</option>
          <option>{{answer4}}</option>
          <option>{{answer5}}</option>
        </select>
        <br>
      </div>
    {{/each}}
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
  </div>
</div>
